@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #E5E5E5;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.hero__btn, .footer-btn, .form-btn {
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: inherit;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  min-width: 200px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.label-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  background-color: #ffffff;
  border-bottom-style: solid;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link-logo {
  text-decoration: none;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-logo:hover, .header__link-logo:focus {
  color: #2196F3;
}

.header__link-logo:active {
  color: #2196F3;
}

.header__text-web {
  color: #2196F3;
}

.header-nav {
  margin-left: 93px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__list, .header-adress__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-adress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: #2196F3;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  border-radius: 2px;
  background-color: #2196F3;
  display: block;
}

.header-adress__item + .header-adress__item {
  margin-left: 50px;
}

.header-adress__link--mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress__link--mail:hover, .header-adress__link--mail:focus {
  color: #2196F3;
}

.header-adress__link--tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress__link--tel:hover, .header-adress__link--tel:focus {
  color: #2196F3;
}

.header-adress__icom--mail, .header-adress__icom--tel {
  margin-right: 10px;
  fill: currentColor;
}

.aclive-page {
  color: #2196F3;
}

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
  margin: 0 auto;
}

.hero__overlane {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraund/ImgBg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraund/ImgBg.jpg");
  width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__btn {
  padding: 10px 32px;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.hero__btn:active {
  background-color: #188CE8;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.special__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.special__item {
  width: 270px;
  margin-right: 30px;
}

.special-cont {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.special-cont__svg {
  width: 70px;
  height: 70px;
}

.special__feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.special__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.work__item {
  margin-right: 30px;
}

.work__thumb {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  background: rgba(47, 48, 58, 0.8);
}

.work__text--title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.team__item {
  margin-right: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__poster {
  text-align: center;
  padding: 30px 32px 30px 32px;
}

.team__poster--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__poster--class {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-roster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-roster__item + .team-roster__item {
  margin-left: 10px;
}

.team-roster__svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team-roster__svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-roster__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-roster__link:hover, .team-roster__link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.team-roster__link:hover .team-roster__svg, .team-roster__link:focus .team-roster__svg {
  fill: #ffffff;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.client__item {
  margin-left: 30px;
  width: 170px;
  height: 92px;
  cursor: pointer;
}

.client__link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border-color: #2196F3;
}

.client__svg {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__svg, .client__link:focus .client__svg {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link-logo:hover, .footer__link-logo:focus {
  color: #2196F3;
}

.footer__link-logo:active {
  color: #2196F3;
}

.footer__text-web {
  color: #2196F3;
}

.footer-adress__list {
  color: #ffffff;
  cursor: pointer;
}

.footer-adress__item--adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-white);
  margin-bottom: 9px;
}

.footer-adress__item {
  font-style: normal;
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__link-tel, .footer-adress__link-mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-adress__link--adress {
  color: #ffffff;
}

.footer-adress__link--adress {
  color: var(--brand-white);
}

.connection {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection:hover, .connection:focus {
  color: #2196F3;
}

.footer-social {
  margin-left: 70px;
}

.footer-social__text, .footer-input__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item {
  cursor: pointer;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196F3;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-input {
  margin-left: auto;
}

.footer-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
}

.footer-btn:hover, .footer-btn:focus {
  background-color: #188CE8;
}

.footer-btn__svg {
  fill: currentColor;
  margin-left: 10px;
}

.footer-subscribe__input--mail {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 39px 40px 41px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  fill: #2196F3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}

.form-label {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  width: 448px;
}

.form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 448px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-label__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding-left: 40px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label__input:focus {
  outline: 1px solid #2196F3;
  fill: #2196F3;
}

.form-label__icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
}

.form-label:focus-within .form-label__icon {
  fill: #2196F3;
}

.form-label__text {
  margin-bottom: 4px;
  color: #757575;
}

.label-comment__form {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 15px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-comment__form:focus {
  outline: 1px solid #2196F3;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox__input:focus + .label-checkbox__icon {
  outline: 1px solid #188CE8;
}

.label-checkbox__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8.38px;
}

.checkbox-text-decoration {
  text-decoration: underline;
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text-decoration:hover, .checkbox-text-decoration:focus {
  color: #188CE8;
}

.label-checkbox__icon {
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  cursor: pointer;
}

.label-checkbox__input:checked + .label-checkbox__icon {
  background-color: #2196F3;
  border-color: transparent;
}

.form-btn {
  max-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 55px;
}

.form-btn:hover, .form-btn:focus {
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */