:root {
    --brand-blue: #2196F3;
    --brand-black: #212121;
    --brand-white: #ffffff;
    --brand-fon: #2F303A;
    --brand-grey:#757575;
    --brand-black-studio: #000000;
    --brand-background: #E5E5E5;
    --brand-background-team: #F5F4FA;
    --brand-link-svg:#AFB1B8;
    --brand-btn:#188CE8;
    --brand-border:#EEEEEE;
    --brand-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
 /* СТУДИЯ 1 */
body {
color: var(--brand-black);
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #E5E5E5;
}
.container{
    
    width: 1200px;
    margin:0 auto;
    padding: 0 15px;
    outline: 2px solid tomato;
    
    
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0 ;
    
}
p{
    margin: 0;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
        display: block;
        max-width: 100%;
        height: auto;
        
}
a{
    text-decoration: none;
}





/* header  */

     /*   ВАРИАНТ 2 */
.header{
    background-color: var(--brand-white);
    border-bottom-style: solid;
    
}

.header__container{
    display: flex;
    align-items: center;
}




    .header__link-logo{
text-decoration: none;
color: var(--brand-black);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
}



.header__text-web {
    color: var(--brand-blue)
}
.header__link-logo:hover, .header__link-logo:focus{
    color: var(--brand-blue);
}
.header__link-logo:active{
    color: var(--brand-blue);
}



.header-nav{
    margin-left: 93px;
}

.header-nav__list{
    display: flex;
    
    
}

.header-nav__list, .header-adress__list{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-black);
    
}

.header-adress__list{
    display: flex;
    margin-left: auto;
}
.header-nav__item:not(:last-child){
    margin-right: 50px;
    
}


.header-nav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--brand-black-studio);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.current{
    position: relative;
}
.current::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -2px;
    border-radius: 2px;
    background-color: var(--brand-blue);
    display: block;
}
.header-nav__link:hover, .header-nav__link:focus {
    color: var(--brand-blue);
}
.header-adress__item + .header-adress__item{
    margin-left: 50px;
}
.header-adress__link--mail, .header-adress__link--tel{
    display:flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--brand-grey);
    align-items: center;

}
.header-adress__icom--mail, .header-adress__icom--tel{
    margin-right: 10px;
    fill: currentColor;
}
.header-adress__link--mail:hover{
    fill: var(--brand-blue);
}
.header-adress__icom--tel:hover{
    fill: var(--brand-blue);
}
.connection{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.connection:hover, .connection:focus{
    color: var(--brand-blue);
    
}
.aclive-page{
    color: var(--brand-blue);
}



/*////////////////////// основная часть //////////////////*/
/*///////////////////////// hero //////////////////////// */
.hero{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--brand-fon);
    text-align: center;
    
}
.hero__overlane{
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../images/backgraund/ImgBg.jpg");
    width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.hero__title {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--brand-white);
margin-bottom: 30px;
width: 696px;
margin:0 auto;
}
.hero__btn {
background-color: var(--brand-blue);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor:pointer;
font-family: inherit;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--brand-white);
min-width: 200px;
border:1px solid transparent;


padding: 10px 32px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus{
    background-color:var(--brand-btn);
}
.hero__btn:active{
    background-color:var(--brand-btn);
}

/* ////////////////////////MODAL //////////////////// */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity:0;
    pointer-events: none;
    
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.2);
    
}
.modal{
    position: absolute;
    width: 528px;
    height: 581px;

    padding: 39px 40px 41px;

    top: 50%;
    left: 50%;
    

    background: var(--brand-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button{
position: absolute;
top:8px;
right:8px;
width: 30px;
height: 30px;
border-radius: 50%;
background:var(--brand-white);
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: var(--brand-white);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-button:hover, .modal-button:focus{
    fill: var(--brand-blue);
}


/*/////////// form-modal/////////// */
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
    color: #000000;
    

}
.form-label{
    position: relative;
    
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column-reverse;
    
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    width: 448px;
}



.form__title{
    font-family: Roboto;
font-style: normal;
    font-weight: 700;
    text-align: center;
    
    width: 448px;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
}
.form-label__input{
    height: 40px;
    width: 100%;
border-radius: 4px;
padding-left: 40px;
border: none;
outline: 1px solid rgba(33, 33, 33, 0.2);

transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-label__icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label__input:focus{
    outline: 1px solid var(--brand-blue);
    fill: var(--brand-blue);
}
.form-label:focus-within .form-label__icon{
    fill: var(--brand-blue);
}

.form-label__icon{
    position: absolute;
    top: 50%;
    margin-left: 12px;
    
}

.form-label__text {
   margin-bottom: 4px;
   color: var(--brand-grey);

}

.label-comment__form{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    resize: none;
    border: none;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 15px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.label-comment__form:focus {
    outline: 1px solid var(--brand-blue);
}

.label-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;

    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.label-checkbox__input:focus + .label-checkbox__icon{
    outline:1px solid #188CE8;
}

.label-checkbox__text{
    
font-weight: 500;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--brand-grey);
margin-left: 8.38px;

}
.checkbox-text-decoration{
    text-decoration: underline;
    color: var(--brand-blue);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text-decoration:hover, .checkbox-text-decoration:focus{
    color:var(--brand-btn);
}
.label-checkbox__icon{
    background-color: var(--brand-white);
    border:2px solid var(--brand-black);
    border-radius: 4px;
    cursor: pointer;
    
}

.label-checkbox__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    
}
.label-checkbox__input:checked + .label-checkbox__icon{
    background-color: var(--brand-blue);
    border-color: transparent;
}




.form-btn{
 width: 200px;
 height: 50px;
 margin: 0 auto;
 font-weight: 700;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.06em;
color:var(--brand-white);
background: var(--brand-blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 1px solid transparent;
cursor: pointer;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover, .form-btn:focus{
    background-color:var(--brand-btn);
}





/* ////////////////////special /////////////////////////*/
.special{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.special-cont{
   width: 270px;
   height: 120px;
   background-color: var(--brand-background-team);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   margin-bottom: 30px;
}
.special-cont__svg{
    width: 70px;
    height: 70px;
}


.title{
font-weight: 700;
text-align: center;
font-size: 36px;
line-height: 1.6;
letter-spacing: 0.03em;
color: var(--brand-black);
}
.special__list{
    display: flex;
    margin-right: -30px;
    
}
.special__item{
    width: 270px; 
    margin-right: 30px;
    
}
/*//////////////// BEFORE ОСОБЕННОСТИ //////////////// */

/*/////////////////// END //////////////////// */
.special__feature{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brand-black);
margin-bottom: 10px;

}
.special__text{

font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--brand-grey);
}
/* ////////////////////////work ////////////////////*/
.work{
    display: flex;
    padding-bottom: 94px;
    
    
    
}
.work__title{
    margin-bottom: 50px;
}
.work__list{
    display: flex;
    margin-right: -30px;
    
}
.work__item {
    margin-right: 30px;
}
.work__thumb{
    position: relative;
}
.work__text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    background: rgba(47, 48, 58, 0.8);
}
.work__text--title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;

letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brand-white);

}
/* .work-list{
    display: flex;
    
}
/* .work-item:not(:last-child){
    margin-right: 30px;
} */ 

/* ////////////////////////team ///////////////////////// */
.team{
    background-color: var(--brand-background-team);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team__title{
    margin-bottom: 50px;
}
.team__list{
    display: flex;
    margin-right: -30px;
}
.team__item{
margin-right: 30px;
background: var(--brand-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.team__poster{
    text-align: center;
    padding: 30px 32px 30px 32px;
    
    }
    
    
    
    .team__poster--title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
    }
    .team__poster--class{
        font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
    margin-bottom: 16px;
    }

    .team-roster{
    display: flex;
}
.team-roster__item + .team-roster__item{
    margin-left: 10px;
}
.team-roster__svg{
    width: 20px;
    height: 20px;
    fill: var(--brand-link-svg);
    
    
}
.team-roster__svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-roster__link{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-roster__link:hover, .team-roster__link:focus{
background-color: var(--brand-blue);

fill: var(--brand-white);

}
.team-roster__link:hover .team-roster__svg, .team-roster__link:focus .team-roster__svg{
    fill: var(--brand-white);
}




/* .////////////////////////client//////////////// */
.client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client__title{
    margin-bottom: 50px;
}

.client__list{
    display: flex;
    margin-left: -30px;
    
}
.client__item {
    margin-left: 30px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    
    
}
.client__link{
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid var(--brand-link-svg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .client__svg{
    
        width: 106px;
        height: 60px; 
        fill: var(--brand-link-svg);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .client__link:hover, .client__link:focus{
        
        border-color: #2196F3;
        

    }
    .client__link:hover .client__svg, .client__link:focus
    .client__svg{
        
        fill: var(--brand-blue);
    }
    
    




/*  footer*/

footer{
    background-color: var(--brand-fon);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer__link-logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    color: var(--brand-white);
    
}

.footer__link-logo{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link-logo:hover, .footer__link-logo:focus{
    color: var(--brand-blue);
}
.footer__link-logo:active{
    color:var(--brand-blue);
}
.footer__text-web {
    color: var(--brand-blue)
}
.footer__link-logo:hover, .footer__link-logo:focus{
    color: var(--brand-blue);
}
.footer__link-logo:active{
    color: var(--brand-blue);
}

.footer-adress{
    color: var(--brand-white);
    cursor: pointer;
}

.footer-adress__item--adress{
 font-size: 14px;
 font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--brand-white);
margin-bottom: 9px;
}
.footer-adress__item{
    font-style: normal;
    
}
.footer-adress__item:not(:last-child){
    margin-bottom: 9px;
}

.footer-adress__link-tel, .footer-adress__link-mail{
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.footer-cont{
    display: flex;
    align-items: baseline;
}
.footer-adress__link--adress{
    color: var(--brand-white);
}



.footer-social{
margin-left: 70px;
    
}
.footer-social__text, .footer-input__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-white);
    margin-bottom: 20px;
    
    }

.footer-social__list{
    display: flex;
}
.footer-social__item{
cursor: pointer;
    
}
.footer-social__item + .footer-social__item{
    margin-left: 10px;
}



.footer-social__link{
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    color: var(--brand-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
    background-color: var(--brand-blue);
    
}
.footer-social__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.footer-input{
    margin-left:auto;
}
.footer-subscribe{
    display: flex;
   
}
.footer-btn{
    min-width: 200px;
    height: 50px;
    padding: 10px 28px 10px 29px;
    cursor: pointer;
    margin-left: 12px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background: var(--brand-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--brand-white);
    border: 1px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover, .footer-btn:focus{
    background-color:var(--brand-btn);
}
.footer-subscribe__input--mail{
    min-width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: #2F303A;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
color: var(--brand-white);
}
.footer-btn__svg{
    fill: currentColor;
    margin-left: 10px;
}


/* ПОРТФОЛИО */

/* MEIN */
/*///////////////////// services///////////////////// */
.services{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.services-list{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 
    margin-bottom: 50px;
}
.services-list__item + .services-list__item{
    margin-left: 8px;
}

.services-list__btn {
font-family: Roboto;
font-weight: 500;
background-color: var(--brand-background-team);
cursor: pointer;
color: var(--brand-black);
border-radius: 4px;
font-size: inherit;
border: 1px solid transparent;
padding: 6px 22px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services-list__btn:hover, .services-list__btn:focus{
    color:var(--brand-white);
    background-color: var(--brand-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.services-list__btn:active{
    color: var(--brand-white);
}

.karen-btn{
    background-color: var(--brand-blue);
    color: var(--brand-white);
}

.services-cards{
    display: flex;
    flex-wrap: wrap;
    margin-right:-30px;
    margin-bottom: -30px;

    }

    .services-cards__item{
        margin-right:30px;
        margin-bottom: 30px;
        cursor: pointer;
        
    }

    .services-cards__link{
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }   
.services-cards__link:hover, .services-cards__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.services-cards__link:hover, .services-cards__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}





.services-animation{
    position: relative;
    overflow: hidden;
    
}



.services-bgr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
    
}


.services-cards__link:hover .services-bgr, .services-cards__link:focus  .services-bgr{
    transform: translate(0);
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.services-bgr__text{
    
    font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--brand-white);
width: 322px;
height: 168px;

}

.services-poster{
    border: 1px solid var(--brand-border);
    padding:20px 24px;   
    border-top: 0;
}

.services-poster__title{
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-black);
    margin-bottom: 4px;
}


.services-poster__text {
    font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--brand-grey);
}




