.client{
    padding-top: 94px;
    padding-bottom: 94px;
    
    &__title{
        margin-bottom: 50px;
    }

}


////////////////// list-company //////////////////////////
.client__list{
    display: flex;
    margin-left: -30px;
    
}
.client__item {
    margin-left: 30px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    
    
}

.client__link{
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid $brand-link-svg;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus{
        border-color: #2196F3;
    }
}

    .client__svg{
    
        width: 106px;
        height: 60px; 
        fill: $brand-link-svg;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .client__link{
        
        &:hover .client__svg, &:focus .client__svg{
            
            fill: $brand-blue;
        }
    }