.special{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

// //////////////  list //////////////////////////

 .special__list{
    display: flex;
    margin-right: -30px;
 }
    .special__item{
        width: 270px; 
        margin-right: 30px;
        
    }
    


.special-cont{
    width: 270px;
    height: 120px;
    background-color: $brand-background-team;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;

    &__svg{
        
            width: 70px;
            height: 70px;
        
    }
 }

 .special__feature{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brand-black;
    margin-bottom: 10px;
    
    }

    .special__text{

        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $brand-grey;
        }