.team{
    background-color: $brand-background-team;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title{
    margin-bottom: 50px;
}
/////////////////// list ////////////////////
.team__list{
    display: flex;
    margin-right: -30px;
}
.team__item{
margin-right: 30px;
background: $brand-white;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
// //////////////////////caption //////////////

.team__poster{
    text-align: center;
    padding: 30px 32px 30px 32px;

    &--title{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color:  $brand-black;
        margin-bottom: 10px;
        }

    &--class{
        font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $brand-grey;
    margin-bottom: 16px;
    }
    
    }


    ////////////////////list-logo//////////////////////
    .team-roster{
        display: flex;
    }

    .team-roster__item + .team-roster__item{
        margin-left: 10px;
    }
    .team-roster__svg{
        width: 20px;
        height: 20px;
        fill: $brand-link-svg;
        
        
    }

    .team-roster__svg{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-roster__link{
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus{
            background-color: $brand-blue;
            fill: $brand-white;
        }
    }

///// покраска иконок при фокусе//////////////////////

    .team-roster__svg{
        
        .team-roster__link:hover &, .team-roster__link:focus & {
            fill: $brand-white;
        }
    }

    // /////////////////конец///////////