body{
    color: $brand-black;
    font-family: $primary-font;
font-size: 14px;
color: $brand-background;
}

.container{
    
    width: 1200px;
    margin:0 auto;
    padding: 0 15px;
    outline: 2px solid tomato;
    
    
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0 ;
    
}
p{
    margin: 0;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
        display: block;
        max-width: 100%;
        height: auto;
        
}
a{
    text-decoration: none;
}
