   $brand-blue: #2196F3;
   $brand-black: #212121;
   $brand-white: #ffffff;
   $brand-fon: #2F303A;
   $brand-grey:#757575;
   $brand-black-studio: #000000;
   $brand-background: #E5E5E5;
   $brand-background-team: #F5F4FA;
   $brand-link-svg:#AFB1B8;
   $brand-btn:#188CE8;
   $brand-border:#EEEEEE;
   $brand-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    

   
   $secondary-font: 'Raleway', sans-serif;
   $primary-font: 'Roboto', sans-serif;

      









   //    $blue-color: #2196F3;                       
// $black-brown: #212121;
// $white-color: #ffffff;
// $fon-color: #2F303A;
// $grey: #757575;
// $black: #000000;
// $bgr-color: #E5E5E5;
// $bgr-team:#F5F4FA;
// $link-svg: #AFB1B8;
// $btn-color:#188CE8;
// $border-color: #EEEEEE;
